[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Tendril"]
	path = Tendril
	url = https://github.com/astrazeneca/tendril
[submodule "maraca"]
	path = maraca
	url = https://github.com/astrazeneca/maraca
